<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Config"
         providerName="System.Data.SqlClient"
         connectionString="
            Persist Security Info=True;
            Data Source=.\SQLEXPRESS;
            Initial Catalog=744_Car_service_Dasha_on_wheels;
            Integrated Security = True;"
    />
  </connectionStrings>
</configuration>